body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;

  --primary-color:rgb(124, 168, 255);
  --primary-color-hover:rgb(124, 168, 255, 0.8);

  &.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  &.dark-mode {
    color: #e0e0e0;
  }
}