# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ChatHavenApp/frontend/node_modules
/.pnp
.pnp.js
/ChatHavenApp/backend/node_modules
/ChatHavenApp/backend/dist/**
/ChatHavenApp/backend/.env
/ChatHavenApp/backend/.env.test
/ChatHavenApp/package-lock.json
/ChatHavenApp/node_modules
# testing
/ChatHavenApp/backend/coverage
/ChatHavenApp/frontend/coverage

# production
/ChatHavenApp/frontend/build
/ChatHavenApp/backend/uploads/**

# misc
.DS_Store
/ChatHavenApp/.turbo
/ChatHavenApp/frontend/.turbo
/ChatHavenApp/backend/.turbo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/ChatHavenApp/backend/coverage
/ChatHavenApp/yarn.lock
